# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
client-side/yarn-error.log
.DS_Store
.idea
client-side/node_modules
server-side/node_modules
React_Recruitment_Exercise.pdf
client-side/yarn.lock
client-side/yarn-error.log
server-side/yarn.lock
server-side/yarn-error.log

