{
  "presets": ["@babel/preset-flow", "@babel/preset-env", "@babel/preset-react"],
  "plugins": [
    "inline-react-svg",
    [
      "import", {
      "libraryName": "antd",
      "style": true
    }
    ]
  ]
}
