.card {
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-self: stretch;
  height: 100%;
  justify-content: space-between;

  .imageWrapper {
    width: 100%;
    object-fit: cover;

    img {
      height: 250px;
      width: 100%;
      object-fit: cover;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
    }

    &:hover {
      cursor: pointer;
    }
  }

  .description {
    text-align: justify;
  }

  .likesWrapper {
    sup {
      background-color: #fff;
      color: #999;
      box-shadow: 0 0 0 1px #d9d9d9 inset;
      margin-left: 5px;
      font-size: 11px;
    }
  }

  &:hover {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 1px 6px rgba(0, 0, 0, 0.12);
  }

  .dateWrapper {
    margin-bottom: 10px;
    display: flex;
    font-size: 11px;
    color: gray;
    justify-content: space-between;
  }

  .tagWrapper {
    display: flex;
    justify-content: end;
    margin-bottom: 20px;

    span {
      margin-bottom: 4px;
      margin-right: 4px;
      color: unset;
    }
  }
}

:global {
  .ant-card-actions > li:not(:first-child) {
    border-right: 1px solid #f0f0f0;
  }

  .ant-card-actions {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
  }
}
